---
layout: archive
---

<p style = "font-size:16px;">
  I am a second year master’s student in Computer Science at <a href="https://luddy.indiana.edu/index.html">Indiana University Luddy School of Informatics, Computing and Engineering</a> advised by <a href="https://cs.indiana.edu/~djcran/">Dr. David Crandall</a>
 </p>
<p style = "font-size:16px;">
  My interest lies in applying deep learning techniques to Vision, Speech and Language. For an overview please check out my projects section. I am particularly interest in the Generative models and their application to Style Transfer and Data Synthesis. I am currently researching on Greeting Card Layout Generation using models like Generative Adversarial Networks and Variational Autoencoders.
</p>

<h3 class="archive__subtitle">{{ "Projects" }}</h3>

  {% for post in project_paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include project_paginator.html %}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>


  {% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
